{% extends 'main.html' %}

{% load static %}

{% block title %}
Home page | Netvibe
{% endblock title %}

{% block content %}

<div>
    <h1 class="bg-red-600 mt-10 p-5 text-center text-white font-extrabold">PROJECT IN PROGRESS...</h1>
</div>

<h4 class="text-center m-5">Register users</h4>

{% for user in all_users %}
<div class="flex justify-evenly items-center gap-3 mt-5 avatar">
    <div class="w-24 rounded-xl">
        <img class="hover:cursor-pointer avatar w-40" src="{{ user.profile_image.url }}" alt="user profile image"/>
    </div>
    <a href="{% url 'view-profile' user.id %}" class="btn btn-primary">view profile</a>
</div>
{% endfor %}

{#% include 'chat/snippets/chat.html' %#}
{% endblock content %}