{% load static %}

{#% for user in all_users %#}
<!-- <div class="flex justify-evenly items-center gap-3 mt-5 avatar">
    <div class="w-24 rounded-xl">
        <img class="hover:cursor-pointer avatar w-40" src="{{ user.profile_image.url }}" alt="user profile image" />
    </div>
    <a href="{% url 'view-profile' user.id %}" class="btn btn-primary">view profile</a>
</div> -->
{#% endfor %#}

<div class="flex-grow h-screen pb-44 pt-6 mr-4 xl:mr-40 overflow-y-auto overflow-x-scroll no-scrollbar">
    <div class="mx-auto max-w-md md:max-w-lg lg:max-w-2xl">
        <!-- stories -->

        <div class="flex overflow-x-auto space-x-2 w-full no-scrollbar">
            <!-- story card -->

            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <div
                    class="bg-primary p-1 absolute rounded-full z-50 bottom-8 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>


                </div>


                <img class="object-cover filter  brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net1.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network
                </p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
            <div
                class="flex-shrink-0 relative h-14 w-14 md:h-20 md:w-20 lg:h-56 lg:w-32 cursor-pointer overflow-x p-3 transition duration-200 transform ease-in hover:scale-95 hover:animate-pulse">
                <label class="opacity-0 lg:opacity-100 absolute z-50 t-10 btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{% static 'images/net2.jpg' %}" />
                    </div>
                </label>

                <img class="object-cover filter brightness-75 rounded-full lg:rounded-3xl"
                    src="{% static 'images/net2.jpg' %}" alt="network2" />

                <p
                    class="text-center absolute opacity-0 lg:opacity-100 bottom-4 w-5/6 text-white text-sm font-bold truncate">
                    Network 2</p>
            </div>
        </div>



        {% include 'home/snippets/inputBox.html' %}
        {% include 'home/snippets/posts.html' %}
    </div>
</div>

