{% load static %}
{% block content %}
<div class="p-2 mt-5 max-w-[600px] xl:min-w-[300px]">
    <!-- sidebar row -->
    <div
        class="transition duration-200 tansform ease-in hover:text-white hover:scale-105 rounded-xl cursor-pointer">
        <a href="{% url 'view-profile' request.user.id %}" class="flex items-center space-x-2 p-2 ">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="{{ request.user.profile_image.url }}" />
                </div>
            </label>
            <p class="hidden sm:inline-flex font-medium">{{ request.user.username }}</p>
        </a>
    </div>

    <div
        class="transition duration-200 tansform ease-in hover:text-white hover:scale-105 rounded-xl cursor-pointer">
        <a href="{% url 'list' request.user.id %}" class="flex items-center space-x-2 p-2">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-16 rounded-full">
                    <img src="{% static 'images/friends.png' %}" alt="" />
                </div>
            </label>
            <p class="hidden sm:inline-flex font-medium">Friends</p>
        </a>
    </div>

    <div
        class="flex items-center space-x-2 p-2 transition duration-200 tansform ease-in hover:text-white hover:scale-105 rounded-xl cursor-pointer">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="rounded-full">
                <img src="{% static 'images/groups.png' %}" alt="">
            </div>
        </label>
        <p class="hidden sm:inline-flex font-medium">Groups</p>
    </div>


</div>
{% endblock content %}