{% load static %}

{% block content %}
<!-- <div class="flex-grow h-screen pb-44 pt-6 mr-4 xl:mr-40 overflow-y-auto overflow-x-scroll no-scrollbar"> -->

<div class="h-screen overflow-y-scroll hidden lg:flex flex-col w-100 p-2 mt-5 no-scrollbar">
    <div class="flex justify-between items-center mb-5">
        <h4 class="font-bold">Friend requests</h4>
        <div class="flex space-x-2 hover:cursor-pointer">
            See all
        </div>
    </div>
    <!-- Friend Request -->
    <div class="mb-14 flex justify-between items-start cursor-pointer">
        <div class="flex items-start space-x-2">
            <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
            <div>
                <div class="flex items-start justify-between mb-3">
                    <div>
                        <p class="font-medium">{{ request.user.username }}</p>
                        <div class="flex items-center gap-3">
                            <div class="avatar-group -space-x-4">
                                <div class="avatar">
                                    <div class="w-5">
                                        <img src="{% static 'images/net1.jpg' %}" />
                                    </div>
                                </div>
                                <div class="avatar">
                                    <div class="w-5">
                                        <img src="{% static 'images/net2.jpg' %}" />
                                    </div>
                                </div>
                                <!-- <div class="avatar placeholder">
                                <div class="w-4 bg-neutral-focus text-neutral-content">
                                    <span class="text-xs">+9</span>
                                </div>
                            </div> -->
                            </div>
                            <span class="text-xs">8 mutuals friends</span>
                        </div>

                    </div>
                    <p>3d</p>
                </div>

                <div class="flex gap-3">
                    <button
                        class="flex items-center bg-blue-600 text-white active:bg-blue-600 font-bold uppercase text-xs px-2 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>

                        Confirm
                    </button>
                    <button
                        class="flex items-center text-white hover:bg-red-600 font-bold uppercase text-xs px-2 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>

                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
      

    <!-- CONTACTS -->
    <div class="flex justify-between items-center mb-5">
        <h4 class="font-bold">Contacts</h4>
        <div class="flex space-x-2 hover:cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round"
                    d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
        </div>
    </div>

    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
    <div
        class="flex items-center space-x-3 mb-2 relative cursor-pointer p-2 hover:scale-105 animate transform ease-in duration-200">
        <img class="avatar btn-circle" src="{{ request.user.profile_image.url }}" alt="">
        <div>
            <p class="font-medium">{{ request.user.username }}</p>
        </div>
        <div class="absolute bottom-2 left-7 bg-green-500 h-3 w-3 rounded-full animate-bounce"></div>
    </div>
</div>
{% endblock content %}