{% extends 'main.html' %}

{% load static %}

{% block title %}
Login Page | NetVibe
{% endblock title %}


{% block content %}
    <div class="mt-40 flex flex-col items-center justify-center">
        <form method="POST">{% csrf_token %}
            <div class="">
                <img class="img-fluid mx-auto d-block" src="" alt="logo" width="72" height="72">
            </div>

                {% for field in login_form %}
                <p>
                    {% for error in field.errors %}
                <p class="text-red-600">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                
                {% if login_form.non_field_errors %}
                <div class="text-center text-red-600">
                    <p>{{ login_form.non_field_errors}}</p>
                </div>
                
                {% endif %}

                <br>

            <div class="flex flex-col">

                <input class="" type="email" name="email" id="inputEmail" class="" placeholder="Email address" required
                autofocus>
                
                <input class="mb-5" type="password" name="password" id="inputPassword2" class="" placeholder="Enter password"
                required>
            </div>
        
            <div class="flex justify-center">
                <button class="btn w-80 text-blue-600" type="submit">Login</button>
            </div>
        </form>
        <div class="text-center text-blue-600 my-5">
            <a href="{% url 'password_reset' %}">Reset password</a>
        </div>
     
        <div class="text-center text-sm">
            <p>Don't have an account?  <a class="text-blue-600" href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock content %}