{% extends 'main.html' %}

{% load static %}

{% block title %}
Registration Page | NetVibe
{% endblock title %}


{% block content %}
<div class="mt-40 flex flex-col items-center justify-center">
    <form method="POST">{% csrf_token %}
        <div class="mt-36">
            <img class="img-fluid mx-auto d-block" src="{% static 'codingwithmitch/logo_250_250_transparent.png' %}"
                alt="logo" width="72" height="72">
        </div>

        {% for field in registration_form %}
        <p>
            {% for error in field.errors %}
        <p class="text-red-600">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
        <div class="text-red-600">
            <p>{{registration_form.non_field_errors}}</p>
        </div>
        
        {% endif %}

        <br>
        
        <div class="flex flex-col">
            <input type="text" name="username" id="inputUsername" class="" placeholder="Username" required autofocus>
            <input type="email" name="email" id="inputEmail" class="" placeholder="Email address" required>
            <input type="password" name="password1" id="inputPassword1" class="" placeholder="Password" required>
            <input type="password" name="password2" id="inputPassword2" class="" placeholder="Confirm password"
                required>
        </div>

        <div class="flex justify-center my-3">
            <button class="text-green-700" type="submit">Register</button>
        </div>

        <div class="text-sm text-center">
            <p>Already having an account ? <a class="text-blue-600" href="{% url 'login' %}">Login</a></p>
        </div>
    </form>
</div>
{% endblock content %}