{% extends 'main.html' %}

{% load static %}

{% block title %}
Registration Page | NetVibe
{% endblock title %}


{% block content %}
<div>
    <form method="POST">{% csrf_token %}
        <div class="mt-36">
            <img class="img-fluid mx-auto d-block" src="{% static 'codingwithmitch/logo_250_250_transparent.png' %}"
                alt="logo" width="72" height="72">
        </div>
        <input type="email" name="email" id="inputEmail" class="" placeholder="Email address" required autofocus>

        <input type="text" name="username" id="inputUsername" class="" placeholder="Username" required>

        <input type="password" name="password1" id="inputPassword1" class="" placeholder="Password" required>

        <input type="password" name="password2" id="inputPassword2" class="" placeholder="Confirm password" required>

        {% for field in registration_form %}
        <p>
            {% for error in field.errors %}
        <p class="text-red-700">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
        <div>
            <p class="text-red-700">{{registration_form.non_field_errors}}</p>
        </div>

        {% endif %}

        <button class="text-green-700" type="submit">Register</button>

    </form>
</div>
{% endblock content %}